@charset "utf-8";
* { margin: 0; padding: 0; }
#wrap{ margin: 0; padding: 0;}
.contents{ display: flex; }
.post-box{
    display: inline-block;
    width: 40vw;
    height: 100vh;
    margin: 0 12px;
}
/*BestContents*/
.best-notice{
    margin: 10px;
    max-width: 45vw;
    height: 20vh;
    background-color: aliceblue;
    border-radius: 5px;
}
/* Timeline Notice */
.notice{ width: 39vw; height: 74vh; margin: 0 auto;}
/* Search */
.search{ max-width: 100vw; margin: 5px; }
.search input[type="text"]{
    width: 94%;
    border-radius: 7px;
    padding: 15px 10px;
    border: 0;
    text-align: left;
    font-size: 15px;
    margin-left: 6px;
}
/* Notice Box */
.notice .time-line{
    max-height: 89%;
    padding: 5px;
    margin-top: 10px;
    list-style: none;
    overflow: auto;
}
.line-notice{ max-height:100vh; }
.notice .cbp-tmtime>li{
    height: 130px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 7px;
    border: 1px solid #d6e8f2;
    letter-spacing: 2px;
}
.notice .cbp-tmtime>li:hover{ background-color: aliceblue; box-shadow: 3px 2px 15px 0px rgb(179, 216, 255);}
.timeline-in{ }
.notice .cbp-tmtime li .timeline-in>h2{ padding: 17px; }
.notice .cbp-tmtime li .timeline-in>p{ padding: 5px 17px;}
.big-box{ letter-spacing: 0; font-size: 14px;  }
.cbp-time{ padding: 2px; }
.cbp-tmtime{ padding: 5px; list-style: none; margin: 0; }
/* chatting */
.chat-background{
    width: 52%;
    height: 97vh;
    display: flow-root;
    margin: 10px 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
}
.chat-list-wrap{
    min-height: 74%;
    list-style: none;
    margin-left: 10px;
}
.chat-list-wrap .header{
    position: relative;
    padding: 20px 15px;
    margin-right: 7px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #464646
} 
.chat-list-wrap .header>p{
    position: absolute; 
    top: 16px;
    font-size: 15px;
}
.header>p:first-child{float: left;color: green;}
.header>p:nth-child(2){ position: absolute; left: 50px; }
.header>p:nth-child(3){ position: absolute; right: 67px; }
.header>p:last-child{
    position: absolute;
    font-size: 14px;
    font-weight: 800;
    right: 20px;
}
.chat-list-wrap .chat-list{ padding:0 15px; }
.chat-list-wrap .chat-list ul {
    width: 100%;
    list-style: none;
    margin-top: 5px;
  }
.chat-list-wrap .chat-list ul li { padding: 10px 0; text-align: left;}
.chat-list-wrap .chat-list ul li img{
    width: 20px;
    height: 20px;
    border-radius: 34px;
    padding: 7px;
    border: 1px solid gray;
}
.chat-list ul li .random-name{
    position: relative;
    display: inline-flex;
    bottom: 8px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
}
.chat-content{
    height: 38px;
    border-radius: 5px;
    margin-left: 35px;
    font-size: 9px;
    background-color: #dce4f0;
}
.chat-content p{
    font-size: 11px;
    padding:13px 15px 5px 15px;
}
/* sending text, change Nickname input*/
.chat-input-txt{
    display: flex;
    margin-top: -13px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5px solid darkgray;
}
.btn-box{ width: 19vh; margin: 0 10px; }
.btn-box button { width:100%; border-radius: 5px;}
/*sending message button*/
.btn-box p{margin: 5px}
.btn-box p .change-nic{ padding: 10px 20px; letter-spacing: 1px; }
.btn-box p .send-message{ padding: 50px 20px; }
.btn-box button { padding:0px 15px; }
.send-message{ padding: 36px 70px; }
#send{
    resize: none;
    margin: 10px;
    width: 33vw;
    text-align: left;
    border: 1px solid darkgray;
}