@charset "utf-8";
/*main page CSS Style */
html,
body {
    position: relative;
    height: 100%;
    margin: 0;
        }
.wrap{
    height: 100vh;
    width: 100vw;
}
.main-display{
    width: 100%;
    margin: 0 auto;
    padding: 130px 0;
}
.main-display-inner{
    width: 1220px;
    margin: 0 auto;
}
.logo{ width: 50px; height: 50px; }
.display-introduce-page{
    display: inline-block;
    min-width: 1220px;
    margin: 50px auto;
}
.image-moving{
    display: inline-block;
    padding: 3rem 7.3rem;
}
.promotion{
    display: inline-block;
    vertical-align: top;
}
.prom-logo{
    width: 200px;
    height: 50px;
    border: 1px solid darkgreen;
}
.prom-txt{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 17px;
    color: #000;
}
.btn-sub-start{
    margin: 100px 0 0 0;
    text-align: center;
}
.st-btn{
    cursor: pointer;
    padding: 0.8rem 3rem;
    color:#fff;
    border: none;
    letter-spacing: 2px;
    font-size: 18px;
    background-color: #0068b7;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/*------방 입장 서버-------*/
.project-box .class-list{
    max-width: 1220px;
    margin: 0 auto;
    text-align: center;
}
.project-box .class-list h3{
    font-weight: 700;
    margin: 15px auto;
    color: #2D2D2D;
    font-size: 1.5rem;
}
/*Swiper Slide CSS Style*/
.project-box {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 20px 0;
  }

.promotion-about-web{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background-color: white;
}
/*-- Lottie-style --*/
.moving-image{
    position: absolute;
    top: calc(25vh - 150px);
    left: calc(25vw - 150px);
}

/*------하단 footer-------*/
.footer{ background: #2D2D2D; padding: 70px 0;}
.footer-inner{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    color: #fff;
}
.footer-logo{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.footer-logo img{
    /*회색계열로 색상전환*/
    background-color: rgba(0, 0, 0, 0.7) no-repeat;
}
.copyright{
    vertical-align: top;
    width: fit-content;
    display: inline-block;
    margin-left: 801px;
}
